In [73]:
import pandas as pd
import numpy as np

In [86]:
train = pd.read_csv("../data/raw/d_train.csv")
test = pd.read_csv("../data/raw/d_test_A.csv")

test_id = test.pop("id")
train_id =  train.pop("id")
target = train.pop("血糖")

In [87]:
total = pd.concat([train,test])

In [88]:
#删除日期
date = total.pop("date")

In [89]:
#log1p处理
not_log1p = ["age","gender","白蛋白","球蛋白","血小板平均体积","中性粒细胞%","嗜酸细胞%"]
columns = total.columns.tolist()
for column in columns:
    if column not in not_log1p:
        total[column] = total[column].apply(lambda x : np.log1p(x))

In [90]:
#离散化age
total["age"] = total["age"].apply(lambda x : int(x/5.0+0.5))

In [91]:
#one-hot编码（gender和age）
one_hot = pd.get_dummies(total["gender"], prefix="gender")
total.pop("gender")
total = pd.concat([one_hot,total],axis=1)

one_hot = pd.get_dummies(total["age"], prefix="age")
total.pop("age")
total = pd.concat([one_hot,total],axis=1)

In [92]:
total.head()

,age_1,age_3,age_4,age_5,age_6,age_7,age_8,age_9,age_10,age_11,...,红细胞体积分布宽度,血小板计数,血小板平均体积,血小板体积分布宽度,血小板比积,中性粒细胞%,淋巴细胞%,单核细胞%,嗜酸细胞%,嗜碱细胞%
0,0,0,0,0,0,0,1,0,0,0,...,2.624669,5.117994,9.9,2.912351,0.151862,54.1,3.561046,2.014903,4.7,0.470004
1,0,0,0,0,0,0,1,0,0,0,...,2.667228,5.627621,9.2,2.424803,0.231112,52.0,3.629660,1.916923,4.7,0.587787
2,0,0,0,0,0,0,0,1,0,0,...,2.639057,5.488938,8.3,2.867899,0.181488,48.1,3.720862,2.163323,3.2,0.587787
3,0,0,1,0,0,0,0,0,0,0,...,2.610070,5.533389,10.3,2.468100,0.231112,41.7,3.860730,2.041220,4.6,0.405465
4,0,0,0,0,0,0,0,0,1,0,...,2.867899,5.758902,11.1,2.708050,0.300105,56.6,3.529297,2.312535,0.6,0.470004

In [93]:
##删除乙肝类特征,因为缺失值太多，4279
delete_features = ["乙肝表面抗原","乙肝表面抗体","乙肝e抗原","乙肝核心抗体"]
for column in delete_features:
    total.pop(column)

In [94]:
total.head()

,age_1,age_3,age_4,age_5,age_6,age_7,age_8,age_9,age_10,age_11,...,红细胞体积分布宽度,血小板计数,血小板平均体积,血小板体积分布宽度,血小板比积,中性粒细胞%,淋巴细胞%,单核细胞%,嗜酸细胞%,嗜碱细胞%
0,0,0,0,0,0,0,1,0,0,0,...,2.624669,5.117994,9.9,2.912351,0.151862,54.1,3.561046,2.014903,4.7,0.470004
1,0,0,0,0,0,0,1,0,0,0,...,2.667228,5.627621,9.2,2.424803,0.231112,52.0,3.629660,1.916923,4.7,0.587787
2,0,0,0,0,0,0,0,1,0,0,...,2.639057,5.488938,8.3,2.867899,0.181488,48.1,3.720862,2.163323,3.2,0.587787
3,0,0,1,0,0,0,0,0,0,0,...,2.610070,5.533389,10.3,2.468100,0.231112,41.7,3.860730,2.041220,4.6,0.405465
4,0,0,0,0,0,0,0,0,1,0,...,2.867899,5.758902,11.1,2.708050,0.300105,56.6,3.529297,2.312535,0.6,0.470004

In [95]:
#处理缺失值
total = total.fillna(-999)

In [100]:
#
train = total[0:5642]
train = pd.concat([train_id,train,target],axis=1)

test = total[5642:]
test = pd.concat([test_id,test],axis=1)

In [101]:
train.to_csv("../data/processed/train.csv",index=False)
test.to_csv("../data/processed/test.csv",index=False)

In [102]:
test.shape

(1000, 54)

In [103]:
train.shape

(5642, 55)